$nice-dates-color-gray-dark: #333 !default;
$nice-dates-color-gray: #999 !default;
$nice-dates-color-gray-light: #ddd !default;
$nice-dates-color-accent: $nice-dates-color-gray-dark !default;
$nice-dates-color-white: #fff !default;

$nice-dates-font-size-small: 12px !default;
$nice-dates-font-size-base: 14px !default;
$nice-dates-font-size-big: 16px !default;

$nice-dates-cell-width: calc(100% / 7);

.nice-dates {
  &-navigation {
    align-items: center;
    color: $nice-dates-color-gray-dark;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    text-transform: capitalize;

    &_current {
      flex-grow: 1;
      font-size: $nice-dates-font-size-big;
      cursor: pointer;
      user-select: none;
    }

    &_previous,
    &_next {
      cursor: pointer;
      height: 0;
      padding-bottom: $nice-dates-cell-width;
      position: relative;
      width: $nice-dates-cell-width;

      &:before {
        border-right: 2px solid $nice-dates-color-gray;
        border-top: 2px solid $nice-dates-color-gray;
        box-sizing: border-box;
        content: '';
        display: block;
        height: 14px;
        left: 50%;
        margin-left: -7px;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        transition: 200ms border-color;
        width: 14px;
      }

      &:hover:before {
        border-color: $nice-dates-color-accent;
      }

      &.-disabled {
        cursor: default;
        pointer-events: none;

        &:before {
          border-color: $nice-dates-color-gray-light;
        }
      }
    }

    &_previous:before {
      transform: rotate(-135deg);
    }
  }

  &-week-header {
    box-shadow: 0 1px 0 rgba(#000, 0.06);
    display: flex;
    padding: 8px 0;

    &_day {
      color: $nice-dates-color-gray;
      font-size: $nice-dates-font-size-base;
      line-height: 1;
      text-align: center;
      text-transform: capitalize;
      width: $nice-dates-cell-width;
      transition: opacity 0.2s;
      user-select: none;

      &.-outside {
        opacity: 0.5;
      }
    }
  }

  &-grid {
    box-sizing: content-box;
    user-select: none;

    &_wrapper {
      box-sizing: content-box;
      position: relative;
      overflow: hidden;
      height: 100%;
    }

    &_container {
      backface-visibility: hidden;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      position: absolute;
      right: 0;
      transition-property: none;

      &.-moving .nice-dates-day_item {
        transition: 300ms color;
      }

      &.-origin-bottom {
        top: auto;
        bottom: 0;
      }

      &.-origin-top {
        top: 0;
        bottom: auto;
      }

      &.-transition {
        will-change: transform;
        transition-property: transform;
      }
    }
  }

  &-day,
  &-month,
  &-year {
    border-top: 1px solid transparent;
    box-sizing: border-box;
    color: $nice-dates-color-gray-dark;
    cursor: pointer;
    font-size: $nice-dates-font-size-base;
    position: relative;
    text-align: center;
    width: $nice-dates-cell-width;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &_item {
      transition: 150ms color;
      z-index: 3;
      user-select: none;
    }

    &_month {
      color: $nice-dates-color-gray;
      font-size: $nice-dates-font-size-small;
      left: 0;
      line-height: 1;
      position: absolute;
      right: 0;
      text-transform: capitalize;
      top: 10%;
      z-index: 3;
    }

    &:before,
    &:after {
      border-radius: 50%;
      bottom: 0;
      box-sizing: border-box;
      content: '';
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:before {
      background-color: $nice-dates-color-accent;
      z-index: 1;
    }

    &:after {
      border: 2px solid $nice-dates-color-accent;
      transform: scale(0.95);
      transition-duration: 150ms;
      transition-property: transform, opacity;
      z-index: 2;
    }

    &:not(.-disabled):hover {
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }

    @media (hover: none) {
      &:after {
        content: none;
      }

      &.-selected * {
        color: $nice-dates-color-white;
      }
    }

    &.-selected {
      &:before {
        opacity: 1;
      }

      &:hover {
        &:after {
          background-color: $nice-dates-color-white;
        }
      }

      &:not(:hover),
      &.-disabled {
        * {
          color: $nice-dates-color-white;
        }
      }

      &.-selected-start {
        &:before {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          right: 0;
        }
      }

      &.-selected-end {
        &:before {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          left: 0;
        }
      }

      &.-selected-middle {
        &:before {
          border-radius: 0;
          left: 0;
          right: 0;
        }
      }

      &.-selected-middle:nth-child(7n + 1):before {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &.-selected-middle:not(.-end):nth-child(7n):before {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    &.-today {
      font-weight: 600;
    }

    &.-outside {
      color: $nice-dates-color-gray;
    }

    &.-disabled {
      cursor: default;
      pointer-events: none;
      color: $nice-dates-color-gray-light;
    }
  }

  &-day {
    &.-wide {
      &:before,
      &:after {
        // 12.5% = (1-0.75)/2
        // 0.75: breakpoint in the file--CalendarGrid.vue
        left: 12.5%;
        right: 12.5%;
      }
    }
  }

  // month grid
  &-year,
  &-month {
    width: calc(100% / 4);

    &:before,
    &:after {
      // 15.72% = (6/5)/(7/4)/2
      // 6: rows of days grid, 5: rows of months grid, 7:cols of days, 4: cols of months
      left: 15.72%;
      right: 15.72%;
    }

    &.-wide {
      // 24.28% = (6/5*0.75)/(7/4)/2
      // 0.75: breakpoint in the file--CalendarGrid.vue
      &:before,
      &:after {
        left: 24.28%;
        right: 24.28%;
      }
    }

    &.-selected {
      color: $nice-dates-color-white;

      &:hover {
        color: $nice-dates-color-gray-dark;
      }

      &:after {
        border: 2px solid $nice-dates-color-accent;
      }
    }
  }

  // popover
  &-popover {
    background-color: $nice-dates-color-white;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(#000, 0.12);
    margin: 8px 0;
    max-width: 600px;
    position: absolute;
    transform-origin: top;
    transform: perspective(1000px);
    transition-property: transform, opacity;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1.1);
    width: 100%;
    opacity: 1;
    z-index: 9;

    &:not(.-open) {
      opacity: 0;
      pointer-events: none;
      transform: perspective(1000px) rotateX(-15deg);
    }
  }
}

// transition for switching grid
.niceDatesOut-enter-active,
.niceDatesOut-leave-active,
.niceDatesIn-enter-active,
.niceDatesIn-leave-active {
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  will-change: transform, opacity;
}

.niceDatesIn-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.niceDatesIn-enter {
  opacity: 0;
  transform: scale(1.2);
}

.niceDatesIn-enter-to {
  opacity: 1;
  transform: scale(1);
}

// reverse transition for switching grid
.niceDatesOut-enter-to {
  opacity: 1;
  transform: scale(1);
}

.niceDatesOut-enter {
  opacity: 0;
  transform: scale(0.8);
}

.niceDatesOut-leave-to {
  opacity: 0;
  transform: scale(1.2);
}
